*.py~
*.pyc
*.swp
*.alm
*.lst
*.trc
*.error
*.out
*.pkl
*.log
.ipynb_checkpoints
.DS_Store
*.png
*.jpg
*.pdf

# The Google credentials for the cloud files that we'll be interfacing with
.gdrive_credentials.json

# The cache
/cache/*
